<div class="article-container mb-4">
	<div class="article-card">
	  <!-- print title and whether it is open access -->
	   <div>
		<p class="text-muted font-weight-bold text-uppercase mb-2"> 
			Article
		</p>
		{% if post.open_access %}
		  <span class="badge badge-success mb-2">Open Access</span>
		{% endif %}
		
	   </div>
	  <h5 class="article-title font-weight-bold mb-2">
		<a href="{{ site.baseurl }}{{ post.url }}" class="">
		  {{ post.title }}
		</a>
	  </h5>
	  <p class="article-authors mb-2">
		{% if post.author.size == 1 %}
		  {% assign poster = post.author[0] %}
		  <a class="text-capitalize smoothscroll text-dark" href="{{site.baseurl}}/author-{{ site.authors[poster].name | slugify }}">{{ site.authors[poster].name }}</a>
		{% else %}
		  {% for author in post.author %}
		  <a class="text-capitalize smoothscroll text-dark" href="{{site.baseurl}}/author-{{ site.authors[poster].name | slugify }}">{{ site.authors[poster].name }}</a>{% unless forloop.last %}, {% endunless %}
		  {% endfor %}
		{% endif %}
	  </p>
	  <p class="article-date mb-2">
		First Published: {{ post.date | date: '%d %B %Y' }}
	  </p>
	  <div class="article-links">
		<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link p-0">Abstract</a>
		<span class="text-muted mx-1">|</span>
		<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link p-0">Full text</a>
		<span class="text-muted mx-1">|</span>
		<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link p-0">References</a>
		<span class="text-muted mx-1">|</span>
		<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link p-0">Request permissions</a>
	  </div>

	  <!-- add a horizontal line -->
	  <hr class="my-3">

	</div>
  </div>
  